<div class="container">
  <div class="form-wrapper">
    <h4 class="form-title">Register your Shop</h4>
    <br/>
    <div class="row">
      <div class="col-md-5">
        <%= form_for @shop do |f| %>
          <div class="form-group">
            <%= f.label :name, class: "field-title" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :address, class: "field-title" %>
            <%= f.text_area :address, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :description, class: "field-title" %>
            <%= f.text_area :description, class: "form-control" %>
          </div>
          <div class="form-group">
            <label class="field-title">Upload Shop Image</label>
            <%= f.file_field :photo %>
          </div>
          <label class="field-title">Latitude and Longitude</label>
          <p>(Auto fetch by click on the map)</p>
          <div class="form-group">
            <div class="col-md-6 no-left-pd">
              <%= f.text_field :latitude, class: "form-control" %>
            </div>
            <div class="col-md-6 no-right-pd">
              <%= f.text_field :longitude, class: "form-control" %>
            </div>
          </div>
          <br/><br/>
          <%= f.submit "Submit Review", class: "btn btn-success" %>
        <% end %>
      </div>
      <div class="col-md-7">
        <%= render partial: 'search' %>
        <br/>
        <div id="map" style="height: 400px;"></div>
      </div>
  </div>
</div>

<script type="text/javascript">
  var map;
  $(document).on('ready', function() {
    return map = new GMaps({
      div: '#map',
      lat: 20.593684,
      lng: 78.96288,
      click: function(e) {
        $('#shop_latitude').val(e.latLng.lat());
        $('#shop_longitude').val(e.latLng.lng());
      }
    });
  });
</script>